<template name="menu">
  <header>
    <div id="button-open-menu">
      <i class="icon sidebar big"></i>
    </div>
    <div class="ui fixed inverted vertical menu" id="navbar">
      <div id="button-close-menu">
        <i class="icon close big"></i>
      </div>
      <a href="/" class="item logo">
        Go Eat
        <img class="ui circular image" src="/images/burning_keyboard.png">
      </a>
      <a href="/users/{{ currentUser._id }}" class="item">
        {{ currentUser.profile.firstName }}
      </a>
      <a href="/messages" class="item">
        <i class="icon mail"></i>
        Messages
      </a>
    </div>
  </header>
</template>
