<template name="menu">
  <div class="create-group-modal ui small modal">
    <i class="icon close"></i>
    <div class="content">
      {{> createGroup}}
    </div>
  </div>
  <header>
    <div id="button-open-menu">
      <i class="icon sidebar big"></i>
    </div>
    <div class="ui fixed inverted vertical menu" id="navbar">
      <div id="button-close-menu">
        <i class="icon close big"></i>
      </div>
      <a href="/" class="item logo">
        Go Eat
        <img class="ui circular image" src="/images/burning_keyboard.png">
      </a>
      <a href="/users/{{ currentUser._id }}" class="item">
        {{ currentUser.profile.firstName }}
      </a>
      <a id="open-create-group" class="item">
        <i class="icons">
          <i class="icon users"></i>
          <i class="inverted corner add icon"></i>
        </i>
        Create group
      </a>
      <a href="/conversations" class="item">
        <i class="icon mail"></i>
        Messages
      </a>
    </div>
  </header>
</template>
